Repository DusanStevic/SOTS, pull requests merged in 2021-01, with the labels that each got.

#47 debugging in angular visual studio code
  .vscode/launch.json
  documentation/5-instructions/uputstvo za DJANGULAR.docx
  documentation/5-instructions/uputstvo za DJANGULAR.pdf
  frontend/src/app/home/home.component.ts
Labels: documentation

#48 cycle detection feature
  frontend/src/app/home/home.component.ts
Labels: enhancement, front end (FE)

#53 question order by expected knowledge space
  frontend/src/app/home/home.component.html
  frontend/src/app/home/home.component.ts
Labels: enhancement, front end (FE)

#58 Export test as xml file
  backend/.idea/workspace.xml
  backend/etesting/etest/models.py
  backend/etesting/etest/urls.py
  backend/etesting/etest/views.py
  backend/etesting/xml/Test1.xml
  backend/etesting/xml/Test2.xml
Labels: back end (BE)

#61 Pagination
  backend/etesting/etest/serializers.py
  backend/etesting/etest/urls.py
  backend/etesting/etest/views.py
  backend/etesting/etesting/settings.py
  documentation/1-specification/NGX - linkovi.pdf
  documentation/1-specification/falmagne1988.pdf
  frontend/src/app/core/services/course.service.ts
  frontend/src/app/courses/course-details/course-details.component.html
  frontend/src/app/courses/course-details/course-details.component.scss
  frontend/src/app/courses/course-details/course-details.component.spec.ts
  frontend/src/app/courses/course-details/course-details.component.ts
  frontend/src/app/courses/courses.module.ts
  frontend/src/app/courses/courses/courses.component.html
  frontend/src/app/courses/courses/courses.component.scss
  frontend/src/app/courses/courses/courses.component.ts
  frontend/src/app/tests/test-details/test-details.component.html
  frontend/src/app/tests/test-details/test-details.component.scss
  frontend/src/app/tests/test-details/test-details.component.spec.ts
  frontend/src/app/tests/test-details/test-details.component.ts
  frontend/src/app/tests/tests.module.ts
Labels: back end (BE), enhancement

#63 angular material pagination
  backend/etesting/etest/pagination.py
  backend/etesting/etest/views.py
  backend/etesting/etesting/settings.py
  frontend/src/app/app-routing.module.ts
  frontend/src/app/authentication/login/login.component.ts
  frontend/src/app/core/services/course.service.ts
  frontend/src/app/courses/courses/courses.component.ts
  frontend/src/app/tests/tests.module.ts
  frontend/src/app/tests/tests/tests.component.html
  frontend/src/app/tests/tests/tests.component.scss
  frontend/src/app/tests/tests/tests.component.ts
Labels: front end (FE)

#64 angular material courses pagination
  backend/etesting/etest/pagination.py
  backend/etesting/etest/urls.py
  backend/etesting/etest/views.py
  frontend/src/app/authentication/login/login.component.ts
  frontend/src/app/core/services/auth.service.ts
  frontend/src/app/core/services/course.service.ts
  frontend/src/app/courses/courses/courses.component.html
  frontend/src/app/courses/courses/courses.component.scss
  frontend/src/app/courses/courses/courses.component.ts
  frontend/src/app/home/home.component.ts
  frontend/src/app/shared/models/login.ts
  frontend/src/app/tests/tests/tests.component.ts
Labels: back end (BE), enhancement, front end (FE)

#66 course details redirection
  frontend/src/app/app-routing.module.ts
  frontend/src/app/core/services/course.service.ts
  frontend/src/app/courses/course-details/course-details.component.ts
  frontend/src/app/courses/courses/courses.component.html
  frontend/src/app/courses/courses/courses.component.ts
Labels: front end (FE)

#67 course details update
  backend/etesting/etest/urls.py
  backend/etesting/etest/views.py
  frontend/src/app/app-routing.module.ts
  frontend/src/app/core/services/course.service.ts
  frontend/src/app/courses/course-details/course-details.component.html
  frontend/src/app/courses/course-details/course-details.component.ts
  frontend/src/app/pages/forbidden-page/forbidden-page.component.ts
  frontend/src/app/pages/not-found-page/not-found-page.component.html
  frontend/src/app/pages/not-found-page/not-found-page.component.scss
  frontend/src/app/pages/not-found-page/not-found-page.component.spec.ts
  frontend/src/app/pages/not-found-page/not-found-page.component.ts
  frontend/src/app/pages/pages.module.ts
  frontend/src/app/shared/models/course.ts
  frontend/src/app/shared/models/link.ts
Labels: back end (BE), enhancement, front end (FE)

#69 course details update
  backend/etesting/accounts/serializers.py
  backend/etesting/etest/serializers.py
  backend/etesting/etest/views.py
  frontend/src/app/core/services/course.service.ts
  frontend/src/app/courses/course-details/course-details.component.html
  frontend/src/app/courses/course-details/course-details.component.scss
  frontend/src/app/courses/course-details/course-details.component.ts
Labels: back end (BE), enhancement, front end (FE)

#70 test canvas update
  backend/etesting/etest/serializers.py
  frontend/src/app/app-routing.module.ts
  frontend/src/app/core/services/test.service.ts
  frontend/src/app/courses/course-details/course-details.component.html
  frontend/src/app/courses/course-details/course-details.component.ts
  frontend/src/app/tests/tests/tests.component.html
  frontend/src/app/tests/tests/tests.component.ts
Labels: back end (BE), enhancement, front end (FE)

#71 test details
  backend/etesting/etest/urls.py
  backend/etesting/etest/views.py
  documentation/4-postman/SOTS PROJECT.postman_collection.json
  frontend/src/app/core/services/test.service.ts
  frontend/src/app/tests/test-details/test-details.component.html
  frontend/src/app/tests/test-details/test-details.component.ts
Labels: back end (BE), enhancement, front end (FE)

#74 completed test update
  frontend/src/app/tests/test-details-completed-student/test-details-completed-student.component.html
Labels: back end (BE), refactoring

#75 completed test details student update
  backend/etesting/accounts/migrations/0001_initial.py
  backend/etesting/etest/migrations/0001_initial.py
  backend/etesting/etest/migrations/0002_course_domain.py
  backend/etesting/etest/migrations/0003_auto_20210112_1445.py
  backend/etesting/etest/migrations/0004_auto_20210112_2206.py
  backend/etesting/etest/models.py
  backend/etesting/etest/serializers.py
  frontend/src/app/tests/test-details-completed-student/test-details-completed-student.component.html
Labels: back end (BE), enhancement, front end (FE), refactoring

#76 front end conditional formatting
  frontend/src/app/tests/test-details-completed-student/test-details-completed-student.component.html
  frontend/src/app/tests/tests-completed-student/tests-completed-student.component.html
  frontend/src/app/tests/tests-completed-student/tests-completed-student.component.scss
  frontend/src/app/tests/tests-completed-student/tests-completed-student.component.ts
Labels: refactoring

#77 test score angular material dialog
  frontend/src/app/tests/test-details-completed-student/test-details-completed-student.component.html
  frontend/src/app/tests/test-details-completed-student/test-details-completed-student.component.ts
  frontend/src/app/tests/test-score-dialog/test-score-dialog.component.html
  frontend/src/app/tests/test-score-dialog/test-score-dialog.component.scss
  frontend/src/app/tests/test-score-dialog/test-score-dialog.component.spec.ts
  frontend/src/app/tests/test-score-dialog/test-score-dialog.component.ts
  frontend/src/app/tests/tests.module.ts
Labels: back end (BE), enhancement, front end (FE)

#80 uncompleted tests
  backend/etesting/etest/urls.py
  backend/etesting/etest/views.py
  frontend/src/app/app-routing.module.ts
  frontend/src/app/core/services/test.service.ts
  frontend/src/app/courses/course-details/course-details.component.html
  frontend/src/app/courses/course-details/course-details.component.ts
  frontend/src/app/tests/test-details-completed-student/test-details-completed-student.component.ts
  frontend/src/app/tests/test-details-uncompleted-student/test-details-uncompleted-student.component.html
  frontend/src/app/tests/test-details-uncompleted-student/test-details-uncompleted-student.component.scss
  frontend/src/app/tests/test-details-uncompleted-student/test-details-uncompleted-student.component.spec.ts
  frontend/src/app/tests/test-details-uncompleted-student/test-details-uncompleted-student.component.ts
  frontend/src/app/tests/tests-uncompleted-student/tests-uncompleted-student.component.html
  frontend/src/app/tests/tests-uncompleted-student/tests-uncompleted-student.component.scss
  frontend/src/app/tests/tests-uncompleted-student/tests-uncompleted-student.component.spec.ts
  frontend/src/app/tests/tests-uncompleted-student/tests-uncompleted-student.component.ts
  frontend/src/app/tests/tests.module.ts
Labels: back end (BE), enhancement, front end (FE), refactoring

#82 uncompleted test details
  backend/etesting/etest/urls.py
  backend/etesting/etest/views.py
  frontend/src/app/core/services/test.service.ts
  frontend/src/app/tests/test-details-uncompleted-student/test-details-uncompleted-student.component.html
  frontend/src/app/tests/test-details-uncompleted-student/test-details-uncompleted-student.component.scss
  frontend/src/app/tests/test-details-uncompleted-student/test-details-uncompleted-student.component.ts
Labels: back end (BE), enhancement, front end (FE)
